.kana-advert {
  position: absolute;
  bottom: 1em;
  left: 1em;
  
  width: 300px;
  margin-top: 2em;
  padding: 1em;
  text-decoration: none;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: #0080FF;
  color: white;
  
  p {
    margin-right: 1em;
  }

  &:hover {
    background-color: #0070FF;
  }

  &.flashcard {
    position: absolute;
    bottom: 1em;
    left: 1em;
  }

  &.tables {
    position: static;
    margin: 4em 0 1em 1em;
  }
}
