#card {
    position: absolute;
    height: 80%;
    width: 100%;

    font-size: 10em;

    > * {
    	transform: translateX(-50%);
    }

    display: none;
}

#item {
	position: absolute;
	font-size: 2em;
	top: 25%;
	left: 50%;
}

#translation {
    position: absolute;
	top: 80%;
	left: 50%;
}

#item, #translation {
   white-space: nowrap;
}
