// Author: Darren Lester

.kana-table {
    display: none;

    td {
        padding: 0.25em;
        width: 2em;
        height: 2em;
        border: 1px solid grey;

        &:hover {
            transform: translateY(-4px);
        }

        span {
            margin: 0.25em;
            white-space: nowrap;
        }
    }
}

.empty-cell {
    visibility: hidden;
}

#reference-tables {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#hiragana-tables, #katakana-tables {
    display: none;
}

.kana-table-wrapper {
    display: flex;
    justify-content: space-around;
}