select,
label,
fieldset {
  display: block;
  margin-bottom: 0.5em;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 0.5em;
}

span {
  margin-left: 0.5em;
}

#custom-theme-colours {
  display: none;
}
