$optionsMargin: 0.5em;

select,
label,
fieldset {
  display: block;
  margin-bottom: $optionsMargin;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: $optionsMargin;
}

span {
  margin-left: $optionsMargin;
}

#custom-theme-colours {
  display: none;
}
